.section-wrapper__left {
  height: 100%;
  width: 50%;
  position: relative;
}

.section-wrapper__headings {
  position: absolute;
  top: 114px;
}

.section-wrapper__h1 {
  text-transform: uppercase;
  font-size: 58px;
  font-family: "museo-sans-cyrl-700";
}

.section-wrapper__h3 {
  font-family: "museo-sans-cyrl-300";
  font-size: 25px;
}

.section-wrapper__button-start {
  font-family: "museo-sans-cyrl-100";
  color: #ffffff;
  font-size: 14px;
  background: #16151d;
  border: none;
  height: 33px;
  width: 178px;
  position: absolute;
  top: 284px;
}

.section-wrapper__button-start_border-block1 {
  position: absolute;
  height: 35px;
  width: 180px;
  background: linear-gradient(7deg, #24589c, #0d1f2d 43%, #263e66);
  top: 283px;
  left: -1px;
}

.section-wrapper__button-start_border-block2 {
  position: absolute;
  top: 315px;
  left: -1px;
  width: 3px;
  height: 3px;
  border: 1px solid white;
  border-right: none;
  border-top: none;
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.459);
}

.section-wrapper__button-start_border-block3 {
  position: absolute;
  top: 283px;
  left: 176px;
  width: 3px;
  height: 3px;
  border: 1px solid white;
  border-left: none;
  border-bottom: none;
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.459);
}

#button-line {
  position: absolute;
  top: 300px;
  left: 180px;
  z-index: 4;
}

@media (max-width: 1240px) {
  .section-wrapper__left {
    height: 352px;
    width: 90%;
    margin-bottom: 30px;
  }
}

@media (max-width: 620px) {
  .section-wrapper__h1 {
    font-size: 45px;
  }

  .section-wrapper__h3 {
    font-size: 22px;
  }

  .section-wrapper__headings {
    top: 85px;
  }
}

@media (max-width: 400px) {
  .section-wrapper__h1 {
    font-size: 40px;
  }

  .section-wrapper__h3 {
    font-size: 21px;
  }
}
