.section-wrapper {
  height: 460px;
  display: flex;
  padding-left: 20px;
}

.section-wrapper__mask-background {
  position: absolute;
  background: no-repeat url(../../assets/images/background-planet.png);
  height: 387px;
  width: 385px;
  left: 392px;
  top: 33px;
  z-index: 2;
}

@media (max-width: 1210px) {
  .section-wrapper {
    height: unset;
    padding-left: unset;
    flex-direction: column;
    align-items: center;
  }

  #button-line {
    display: none;
  }

  .section-wrapper__mask-background {
    display: none;
  }

}
